.message {
    padding-top: 5%;
    .content {
        width: 100%;
        padding: 0px 200px;
        .left_profile {
            padding: 15px;
            border: 2px solid #D9EEFA;
            border-radius: 10px;
            .my_history {
                p {
                    margin-bottom: 0px;
                }
                img {
                    width: 50%;
                    margin-bottom: 20px;
                    border-radius: 50%;
                }
                .requests {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin: 20px 0px;
                }
                a {
                    font-weight: bold;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .message_item {
            display: flex;
            justify-content: flex-end;
            p {
                background-color: #1787e0;
                color: white;
                padding: 10px;
                border-radius: 10px;
            }
            p.show {
                visibility: visible;
            }
            p.hidden {
                visibility: hidden;
            }
        }
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0px;
        border-top: 1px solid;
        padding: 15px 0px;
        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
            .btn {
                color: gray;
                background-color: white;
                border-radius: 8px;
                font-size: 20px;
                font-weight: bold;
                i {
                    font-size: 35px;
                    color: #1787e0;
                }
            }
            input[type=file] {
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }
        }
        form {
            width: 50%;
            .text_input {
                width: 100%;
                border-radius: 10px;
                padding: 10px;
                outline: none;
            }
        }
        .enter {
            margin-left: 10px;
            padding: 6px 11px;
            border-radius: 36px;
            background-color: #1787e0;
            i {
                color: white;
            }
        }
    }
}